body {
    background-image: url("../images/FindCourseMaterials.jpg");
    background-repeat: no-repeat;
}

.search {
	width: 90%;
	margin-left: 5%;
	margin-top: 2.5%;
}

.day-container {
	float: left;
	width: 100%;
	height: 40px;
	background-image: url("../images/WoodLight.png");
}

#dayOfWeek {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	margin-bottom: 0px;
	float: left;
	width: 180px;
}

.navWeek-instructions{
	float: left;
	width: 60px;
	font-size: 10pt;
	line-height: 1.0;
	text-align: center;
}

.navWeek {
	width: 10px;
	height: 180px;
	margin: 0px;
	padding: 0px;
	float: left;
}

#speech-bubble {
	width: 120px;
	height: 100px;
	background-image: url("../images/SpeechBubble.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 130px 100px;
	padding-right: 10px;
	margin: 0px;
	float: left;
}

#button-info {
	margin: 0px;
	padding: 15px 0px 0px 20px;
	width: 80px;
	font-size: 10pt;
	line-height: 1.0;
}

#button-to-sharing {
	margin: 10px 0px 0px 0px;
	height: 60px;
	float: left;
	line-height: 1.0;
}

/***************************************************************************************************/
/*courseMaterialResult*/
.middle-results {
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50%;
	width: 290px;
	position: relative;
	padding-bottom: 0px;
}


#leftbutton {
	padding: 0px;
	margin: 0px;
	height: 180px;'
	width: 20px;
	float: left;
	align-items: none;
}

.middle-results {
	width: 300px;
	height: 250px;
	padding: 0px;
	margin-top: 40px;
	/*float: left;*/
	align-items: center;
	display: flex;
	text-align: center;
}

.findCourseEntries{
	float: left;
	overflow: hidden;
	overflow-y: scroll;
	height: 250px;
	font-family: 'Josefin Sans', sans-serif;
	width: 280px;
	padding: 0px;
	margin-top: 8%;
}

.left-arrow{
	float: left;
	width: 10px;
	padding-bottom: 0px;
}

.right-arrow{
	float: right;
	width: 10px;
	padding-bottom: 0px;
}

.up-arrow{
	float: right;
	width: 10px;
	height: 15px;
		padding-top: 0px;
			padding-bottom: 0px;
}

.down-arrow{
	float: right;
	width: 10px;
	height: 15px;
	padding-top: 0px;
		padding-bottom: 0px;
}

