body {
    background-image: url("../images/FindCourseMaterials.jpg");
    background-repeat: no-repeat;
}

.share-confirmation{
    text-align: center;
   
    background-image: url("../images/WoodLight.png");
    border-radius: 4px;
    border: 2px outset #fffcdd
}

.group-listing{ /* used to lower the text to fit the 'open drawer' graphic in active tabs */
    text-align: center;

    background-image: url("../images/WoodLight.png");
    border-radius: 4px;
    border: 2px outset #fffcdd
}