body {
    background-image: url("../images/FindCourseMaterials.jpg");
    background-repeat: no-repeat;
}

/***************************************************************************************************/
/*schedule*/

.left-arrow{
    float: left;
    width: 10px;
    padding-bottom: 0px;
}

.right-arrow{
    float: right;
    width: 10px;
        padding-bottom: 0px;
}

.schedule-tab{

    width: 10px;
    height: 15px;
    padding-top: 0px;
        padding-bottom: 0px;
}

.scheduleOptions{
    float: left;
    overflow: hidden;
    overflow-y: scroll;
    height: 260px;
    font-family: 'Josefin Sans', sans-serif;
    width: 280px;
    padding: 0px;
}

#am-times{
    float: left;
    text-align: center;
        align-items: center;
    width: 130px;
}

#pm-times{
    float: left;
    text-align: center;
    align-items: center;
    width: 130px;
}

.dayOfWeekHeader{
    height: 50px;
    padding-top: 0px;
    float: top;
    text-align: center;
}

#dayOfWeek{
    height: 20px;
    padding-top: 0px;
    float: top;
}

.middle-results-schedule {
    width: 300px;
    height: 260px;
    padding: 0px;
    margin: 0px;
    /*float: left;*/
    align-items: center;
    display:; flex
    text-align: center;
}

.schedule-header{
    display: flex;
    flex-direction: column;
        justify-content: center;

    height: 70px;
    font-family: 'Josefin Sans', sans-serif, !important;
    padding-bottom: 0px;
}

.navWeek {
    width: 10px;
    height: 260px;
    margin: 0px;
    padding: 0px;
    float: left;
}

#leftbutton {
    padding: 0px;
    margin: 0px;
    height: 260px;'
    width: 20px;
    float: left;
    align-items: none;
}


.tab-bar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.schedule-tab-out {
    border: 2px solid black;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
    background-color: rgba(99, 164, 255, .2);
}