body {
    background-image: url("../images/SharingGroup.jpg");
    background-repeat: no-repeat;
}

.share-confirmation{
	padding-top: 6px;
	padding-left: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url("../images/WoodLight.png");
	border-radius: 5px;
	border: 2px outset #fffcdd;
	margin: 0px 10px;
}

.group-members{
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.group-listing{
    text-align: center;
    background-image: url("../images/WoodLight.png");
	border-radius: 5px;
	border: 2px outset #fffcdd;
	margin: 0px 10px;
}