body {
    background-image: url("../images/SharingGroup.jpg");
    background-repeat: no-repeat;
}

.share-confirmation{
	margin: 0px 20px;
    text-align: center;
    background-image: url("../images/WoodLight.png");
	border-radius: 5px;
	border: 2px outset #fffcdd;
}