@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');
/* Universal fonts */
.headerText { /* important: use these classes to change text fonts */
	font-family: 'Josefin Sans', sans-serif;
	color: black;
}
.bodyText { /* important: use these classes to change text fonts */
	font-family: 'Josefin Slab', serif;
	color: black;
}

/*
*
*
*
*
*
*/
/* Links, buttons, bootstrap */

a{
	text-decoration: none;
	/*cursor: default;*/
}
button{
	cursor: none;
}

.btn, .btn-secondary{
	cursor: default;
}

.link{ /* used for tabs */
	position: absolute;
	width:100%;
	height:100%;
	padding-top: 10px;
	top:0;
	left: 0;
	z-index: 1;
}

.findGroupEntries{
	overflow: hidden;
	overflow-y: scroll;
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;

	width: 95%;
}

.findGroupEntry{
	/*background-color: rgba(239, 241, 243, .6);*/

	background-image: url("./images/bookResults.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 28%;
	margin-bottom: 5px;


}

#center-button{
	font-family: 'Josefin Sans', sans-serif;
	justify-content: center;
}

.left { /* Kofi used this for columns I think */
	width:10px;
	float:left;
}
.right {
	width:140px;
	text-align: right;
	float:right;
	font-family: 'Josefin Sans', sans-serif;
}

/*
*
*
*
*
*
*/
/* Screen position, header banners */
html{
    margin-left: 40%;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header{
	display: flex;
	flex-direction: column;
	height: 73px;
	font-family: 'Josefin Sans', sans-serif, !important;
}


.header-container{
	width: 100%;
	height: 85px;

}

#title{
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	line-height: 1.0;
	font-size: 20pt;
	padding-top: 10px;
}

#title2{ /* for titles with 2 lines */
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	line-height: 1.0;
	font-size: 20pt;
}

.credits{
	text-align: right;
	font-size: 10pt;
}

#question-icon{
	height: 25px;
	width: 25px;
	padding: 2%;
	border: 2px solid black;
	border-radius: 12.5px;
	background-color: white;

}

.header-row-top{
	height:20px;
	width: 100%;
	/*width: 50%;*/
	font-size: 15pt;
	font-family: 'Josefin Sans', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-row-bottom{ /* keeps title separate from top row containg home, help and credits */
	height: 67%;
	width: 100%;
	font-size: 16pt;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif, !important;
	text-shadow: 2px 1px #000;
}


.header-row-left{
	height: 73px;
	width: 50px;
	text-align: left;
	float: left;
	margin: 0px;
	padding-left: 10px;
}

.header-row-center{
	height: 73px;
	width: 200px;
	text-align: center;
	float: left;
	margin: 0px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-row-right{
	height: 73px;
	width: 50px;
	text-align: right;
	float: right;
	margin: 0px;
	padding: 5px 10px 0px 0px;
	text-decoration: none;
}

#coinsValue{
	height: 18px;
	width: 40px;
	margin: 0px;
	font-family: 'Josefin Sans', sans-serif, !important;
}

#coins{
	width: 24px;
	height: 20px;
	padding-left: 5px;
}

.iconLinks { /* for home or question marks */
	color: black;
	text-decoration: none;
}

/*
*
*
*
*
*
*/
/* bottom tabs */

.tab-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.tab-button {


	text-align: center;
	height: 100%;
	width: 25%;
	position: relative;
}

.button-text{
	height: 100%;
	width: 100%;
	z-index: -1;
	font-size: 10pt;
	padding: 30px 2px 2px 2px;
	line-height: 0.8;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

.button-text.active{ /* used to lower the text to fit the 'open drawer' graphic in active tabs */
	padding: 35px 2px 2px 2px;
	font-size: 12pt;
	text-align: center;
}
