@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');
/* Universal fonts */
.headerText { /* important: use these classes to change text fonts */
	font-family: 'Josefin Sans', sans-serif;
}
.bodyText { /* important: use these classes to change text fonts */
	font-family: 'Josefin Slab', serif;
}

/*
*
*
*
*
*
*/
/* Links, buttons, bootstrap */

a{
	text-decoration: none;
	/*cursor: default;*/
}
button{
	cursor: none;
}

.btn, .btn-secondary{
	cursor: default;
}

.link{ /* used for tabs */
	position: absolute;
	width:100%;
	height:100%;
	padding-top: 10px;
	top:0;
	left: 0;
	z-index: 1;
}

.findGroupEntries{
	overflow: hidden;
	overflow-y: scroll;
	height: 50%;
		font-family: 'Josefin Sans', sans-serif;
}

.findGroupEntry{
	/*background-color: rgba(239, 241, 243, .6);*/
	margin-bottom: 5px;
}

#center-button{
	font-family: 'Josefin Sans', sans-serif;
	justify-content: center;
}

.left { /* Kofi used this for columns I think */

}
.right {
	width:140px;
	text-align: right;

	font-family: 'Josefin Sans', sans-serif;
}

/*
*
*
*
*
*
*/
/* Screen position, header banners */
html{
    margin-left: 40%;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header{
	display: flex;
	flex-direction: column;
	height: 15%;
	font-family: 'Josefin Sans', sans-serif, !important;


}


.header-container{
	/*background-image: url("images/WoodLight.png");*/
	height: 70%;



}



#title{
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	line-height: 0.8;
	font-size: 25pt;
}

.credits{
	font-size: 10pt;

}

#question-icon{
	height: 25px;
	width: 25px;
	padding: 10%;
	border: 2px solid black;
	border-radius: 12.5px;
	background-color: white;

}

#home-icon{
	margin-left: 2%;

}

.header-row-top{
	height: 30%;
	width:100%;
	/*width: 50%;*/
	font-size: 15pt;
	font-family: 'Josefin Sans', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-row-top-container{
}

.header-row-bottom{ /* keeps title separate from top row containg home, help and credits */
	height: 85%;
	width: 100%;
	font-size: 18pt;
	text-align: center;
}


/*
*
*
*
*
*
*/
/* bottom tabs */

.tab-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.tab-button {
	float: left;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 25%;
	position: relative;
}

.button-text{
	height: 100%;
	width: 100%;
	z-index: -1;
	font-size: 10pt;
	padding: 30px 2px 2px 2px;
	line-height: 0.8;
	font-family: 'Josefin Sans', sans-serif;
}

.button-text.active{ /* used to lower the text to fit the 'open drawer' graphic in active tabs */
	padding: 35px 2px 2px 2px;
	font-size: 12pt;
}


/***************************************************************************************************/
/*courseMaterialResult*/
.middle-results {
	float: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50%;
	width: 290px;
	position: relative;
	padding-bottom: 0px;
}

.findCourseEntries{
	float: center;
	overflow: hidden;
	overflow-y: scroll;
	height: 70%;
		font-family: 'Josefin Sans', sans-serif;
		width: 255px;
}

.left-arrow{
	float: left;
	width: 10px;
	padding-bottom: 0px;
}

.right-arrow{
	float: right;
	width: 10px;
		padding-bottom: 0px;
}

.up-arrow{
	float: right;
	width: 10px;
	height: 15px;
		padding-top: 0px;
			padding-bottom: 0px;
}

.down-arrow{
	float: right;
	width: 10px;
	height: 15px;
	padding-top: 0px;
		padding-bottom: 0px;
}

/*.logo{ ****background image already has logo***
	justify-content: center;
	align-items: center;
	text-align: center;
}*/

h1{
	font-family: 'Josefin Sans', sans-serif, !important;
}