body {
    background-repeat: no-repeat;
}

.share-confirmation{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/WoodLight.png");
}

.group-listing{ /* used to lower the text to fit the 'open drawer' graphic in active tabs */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/WoodLight.png");
}

#top-space{
    height: 60px;
    width: 300px;
}

#center-book-info{
    height: 250px;
    width: 300px;
    text-align: center
}

.book-info{
    height: 250px;
    width: 80px;
    text-align: left;
    float: left;
}

.book-stop-left{
    height: 250px;
    width: 35px;
    text-align: left;
    float: left;
}

#bottom-space{
    height: 5px;
}

.edit-schedule{
    color: white;
}

.book-info-class{
    background-color: white;
}

.book-info-class{
    background-color: white;
    font-size: 12px;
    font-align: center;
    width: 70px;
}