body {
    background-image: url("../images/Profile.jpg");
    background-repeat: no-repeat;
}

.middle-results{
    width: 320px;
    height: 350px;
    padding: 0px;
    margin: 0px;
    /*float: left;*/
    align-items: center;
    display:; flex
    text-align: center;
}

.schedule-header{
    display: flex;
    flex-direction: column;
        justify-content: center;

    height: 70px;
    font-family: 'Josefin Sans', sans-serif, !important;
    padding-bottom: 0px;
}

.day-click{
    width: 160px;
    height: 350px;
    padding: 0px;
    margin: 0px;
    float: left;
}

.editProfileInfo{
    overflow: hidden;
    overflow-y: scroll;
    height: 315px;
    font-family: 'Josefin Sans', sans-serif;
    width: 300px;
    padding: 0px;
    margin-top: 8%;
    margin-left: 2.5px !important;
    z-index: 1;
}

.class-list{
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/WoodLight.png");
}

.class-entry{
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/WoodLight.png");
}


.text-title{
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    width: 300px;
    background-image: url("../images/WoodLight.png");
}

.left-label{
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    width: 243px;
    float: left;
        background-image: url("../images/WoodLight.png");
}

.right-label{
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    width: 40px;
    height: 32px;
    float: right;
    background-image: url("../images/WoodLight.png");
}
