body {
    background-image: url("../images/ProfileHome.jpg");
    background-repeat: no-repeat;
}

.shelf{ /* 4 containers that include top supports and shelf title */
    width: 300px;
    height: 94px;
    padding: 0px;
    margin: 0px;
}

.shelfContent{ /* for zoom, link, highlighting */
	width: 300px;
	height: 80px;
	float: right;
	vertical-align: center;
} 

.shelfLabel{ /* for shelf label */
	
} 