body {
    background-image: url("../images/Library.jpg");
    background-repeat: no-repeat;
}

.form-container{
    height: 55%;
    width: 100%;
    padding: 8px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
}

/* tried to resize the bootstrap buttons using this but did not work
.form-group.form-section{
    height: 15%;
    width: 100%;
    margin: 0px;
    float: left;
}

.form-row.form-section{
    height: 15%;
    width: 100%;
    margin: 0px;
    float: left;
}

.form-section{
    height: 15%;
    width: 100%;
    margin: 0px;
    float: left;
}*/

.button-container{ /* for confirmation and cancel buttons */
    height: 12%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.form-control-sm{
    width: 100%;
}

.form-label{
    background-image: url("../images/WoodLight.png");
}


.label-entry{
    background-image: url("../images/WoodLight.png");
}

.label-entry-long{
    width: 285px;
    text-align: center;
    background-image: url("../images/WoodLight.png");
}

.label-entry-short{
    width: 140px;
    text-align: center;
    background-image: url("../images/WoodLight.png");
}