body {
    background-image: url("../images/Library.jpg");
    background-repeat: no-repeat;
}

.share-confirmation{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/WoodLight.png");
}

.group-listing{ /* used to lower the text to fit the 'open drawer' graphic in active tabs */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/WoodLight.png");
}